<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body style="background-color: rgba(177, 177, 177, 0.884);">
    <div class="container d-flex  mt-5 ">
        <nav class="navbar fixed-top navbar-dark bg-primary">
                <p class="navbar-brand text-dark">Arbortrary</p>

            <div class="">
                <a class="navbar-brand text-success mr-5" href="/my_trees">My Trees</a>
                <p class="navbar-brand text-warning mr-5">Welcome, {{user.first_name}}!</p>
                <a class="navbar-brand text-light" href="/new_tree">Plant Tree </a>
                <a class="navbar-brand text-light" href="/logout"> Logout</a>
            </div>
        </nav>
        <div class="container">

            <div class="jumbotron my-3">    
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Species</th>
                            <th>Planted By</th>
                            <th>Visitors</th>
                            <th>Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tree in trees %}
                        <tr>
                            <th scope="row">{{tree.species | capitalize}}</th>
                            <td>{{tree.owner.first_name | capitalize}} {{tree.owner.last_name | capitalize}}</td>
                            <td>{{tree.all_visitors | length}}</td>
                            <td><a href="/show/{{tree.id}}">Details</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>
    </body>

</html>